/* default color scheme */
:root {
  --foreground-color:        black;
  --background-color:        white;
  --background-shaded-color: #eee;

  --accent-color:            red;
  --heading-color:           black;
  --muted-color:             #999;
  --border-color:            #d8d8d8;

  --link-color:              blue;
  --visited-link-color:      purple;
  --active-link-color:       red;
}

/* dark-mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color:        rgb(237, 237, 237);
    --background-color:        rgb(26, 26, 26);
    --background-shaded-color: rgb(43, 43, 44);

    --accent-color:            rgb(147, 157, 115);
    --heading-color:           rgb(204, 120, 89);
    --muted-color:             rgb(100, 96, 101);
    --border-color:            rgb(100, 96, 101);

    --link-color:              rgb(147, 157, 115);
    --visited-link-color:      rgb(159, 141, 160);
    --active-link-color:       rgb(199, 178, 134);
  }
}
