@import "colors.css";
@import "markdown.css";

:root {
  --base-font-size:  0.75rem;
  --small-font-size: calc(var(--base-font-size) * (13/15));
  --line-height:     1.4em;
}

* {
  font-family: "SF mono", menlo, inconsolata, inconsolata-dz, monospace;
  font-size:   1em;
  font-weight: normal;
  line-height: var(--line-height);
  margin:      0;
  padding:     0;
}

html {
  min-height: 100vh;
}

body {
  align-items:     center;
  justify-content: center;

  font-size:       var(--base-font-size);

  margin:          0 auto;
  max-width:       50ch;
  min-height:      50vh;
  padding:         3rem 10vw;
}

body.sparse {
  display: flex;
}

main {
  position: relative;
}

nav {
  text-align: right;
  position:   absolute;
  top:        -2.2rem;
  left:       0;
  right:      0;
}

nav ol {
  font-size: 0;
}

nav ol,
nav li {
  margin:  0;
  padding: 0;
}

nav li {
  font-size:       var(--small-font-size);
  display:         inline-block;
  list-style-type: none;
}

nav li::before {
  margin: 0;
  position: relative;
}

nav li + li::before {
  content:   "→";
  font-size: 1.1em;
  padding:   0 1ch;
}

footer {
  color:      var(--muted-color);
  font-size:  0.6rem;
  text-align: center;

  position:   absolute;
  bottom:     5vh;
}

footer::after {
  content:  "👀";
  position: relative;
  bottom:   -0.1em;
}

a:link    { color: var(--link-color);         }
a:visited { color: var(--visited-link-color); }
a:active  { color: var(--active-link-color);  }

body,
a.markdown::before,
a.markdown::after {
  background-color: var(--background-color);
  color:            var(--foreground-color);
}

blockquote::before {
  color: var(--muted-color);
}

blockquote,
dl, dt,
h1, h2, h3, h4, h5, h6,
hr, p,
ol, ul {
  margin: 1.2em 0;
}

dt {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

h1 {
  font-size:  1.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.15em;
}

hr {
  color: var(--muted-color);
}

dt.stale::after,
p.footnote::before {
  content:  "*";
  color:    var(--accent-color);
  display:  inline-block;
  position: relative;
  top:      -0.2em;
  margin:   0 0.1ch;
}

p.footnote::before {
  margin-left:  -1.8ch;
  margin-right: -0.5ch;
}

p.footnote {
  font-size:    0.8em;
  padding-left: 1.8ch;
}

p.intro {
  margin-bottom: 2.4em;
}
